@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

@layer components {
  .btn-ncs {
    @apply cursor-pointer text-white text-center mb-1.5 p-1 block
    font-serif
    border border-ncs-gray-600 border-b-ncs-gray-700 rounded
    bg-gradient-to-t from-ncs-gray-400 to-ncs-gray-200;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 2px #262a2e,
    0 4px #1f2326, 0 4px 3px rgba(0, 0, 0, 0.2);
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
  }

  .btn-ncs-text {
    @apply grow font-sans font-normal py-0.5;
  }

  .btn-ncs:hover, .btn-ncs-hover {
    @apply text-ncs-yellow-200;
  }

  .btn-ncs:active, .btn-ncs:checked, .btn-ncs:checked + .btn-ncs, .btn-ncs-active {
    @apply text-ncs-light-gray-200
    bg-gradient-to-b bg-ncs-gray-300
    mb-1 mt-0.5;
    @apply hover:text-ncs-light-gray-200;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 2px #262a2e,
    0 2px #1f2326, 0 1px 1px rgba(0, 0, 0, 0.2);
  }

  .btn-ncs:disabled, .btn-ncs-disabled {
    @apply text-ncs-light-gray-200 hover:text-ncs-light-gray-200 cursor-not-allowed bg-ncs-gray-300;
    @apply active:bg-gradient-to-t;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 2px #262a2e,
    0 3px #1f2326, 0 4px 3px rgba(0, 0, 0, 0.2);
  }
  .btn-ncs:disabled:active, .btn-ncs-disabled:active {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 2px #262a2e,
    0 3px #1f2326, 0 4px 3px rgba(0, 0, 0, 0.2);
    @apply mb-1.5 mt-0;
  }

  .tab-ncs {
    @apply font-sans font-bold grow p-1 cursor-pointer;
  }

  .tab-t-ncs {
    @apply tab-ncs rounded-b;
  }

  .tab-ncs:hover, .tab-ncs-hover {
    @apply text-ncs-yellow-200;
  }

  .tab-t-ncs:active, .tab-ncs-active {
    @apply border-b-2 border-ncs-gray-400;
  }
}

@font-face {
  font-family: "icon";
  src: url("../fonts/fontello.eot");
  src: url("../fonts/fontello.eot")
      format("embedded-opentype"),
    url("../fonts/fontello.woff")
      format("woff"),
    url("../fonts/fontello.ttf")
      format("truetype"),
    url("../fonts/fontello.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

ncrs-layer-list:focus {
  outline: none;
}